* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

header {
    display:none;
}
.title {
    display:none;
}



/* Column container */
body {
    padding:10px 50px 0 0;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #232323;
    background-color: #FBFAF7;
    margin: 0;
    line-height: 1.4em;
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    height: 100%;
    flex: 30%;
    padding: 20px;
    padding-right: 4px;
    padding-top:10px;
    padding-bottom:30px;
    border-right:1px solid rgb(102, 102, 102);
    text-align:right;
}
/* Main column */
.main {
  flex: 70%;
  padding: 20px;
    border-left:1px solid rgb(102, 102, 102);
}

@media (min-width: 1300px) {
    .side {flex:390px;}
.main {
    flex: calc(100% - 390px);
}
}
@media (max-width: 700px) {
  body {
    flex-direction: column;
  }
.side {
    height: 100%;
    flex: 30%;
    padding: 20px;
    padding-right: 4px;
    padding-top:10px;
    padding-bottom:30px;
    border-right:0px ;
    text-align:left;
}
}




h1, h2, h3, h4, h5, h6 {
    color:#232323;
    margin:24px 0 10px;
}

h1,h2, h3 {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4, h5, h6 {
    /* font-family: Arvo, Monaco, serif; */
    font-weight: 700;
}
p {
    padding-bottom:4px;
}

a {
    color:#C30000;
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}

a small {
    font-size: 12px;
}

em {
    font-style: italic;
}

strong {
    font-weight:700;
}

ul {
    list-style-position: inside;
    list-style: disc;
    padding-left: 25px;
}

ol {
    list-style-position: inside;
    list-style: decimal;
    padding-left: 25px;
}
/* Images */
img {
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    padding: 5px;
    margin: 10px 0 32px 0;
    border: 1px solid #ccc;
}

p img {
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    border: none;
}

.header img {
    border:none;
}
.header ul {
    list-style:none;
    padding-left:10px;
}
ul.links img {
    padding:0 0 0 0;
    margin: 0 0 0 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

ul.links li {
    width:0px;
    padding:0 0 0 0;
    margin: 0 0 0 0;
}
ul.links a {
    width:0px;
    padding:0 0 0 0;
    margin: 0 0 0 0;
}
ul.links {
    padding: 0 0 0 0;
    width:90px;                 /*2*(35+10)*/
    margin-left:calc(100% - 90px); 		/*300 - 2*(35+10)*/
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
}
